.git
.github
.env
.env.*
!.env.example
uploads/**
!uploads/**/
!uploads/**/index.html
application/cache/**
!application/cache/index.html
application/logs/**
!application/logs/index.html
application/sessions/**
backup/database_backup/**
backup/temp_uploaded/**
backup/_tmp/**
temp/**
.DS_Store
cgi-bin
docs
*.md
